<div class="banner" role="banner">

  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
<h2>Create Group</h2>
<div class="group-head-container">
  <div class="group-img-container">
    <img [src]="url" height="200"> <br/>
    <input type='file' (change)="onSelectFile($event)">
  </div>
  <div class="group-details-container">
    <div class="group-row">
      <label for="gname">Name</label>
      <input type="text" name="group-name" id="gname" placeholder="group name">
    </div>
    <div class="group-row">
      <label for="gdesc">Description</label>
      <input type="text" name="group-description" id="gdesc" placeholder="group description">
    </div>
  </div>
</div>
<div class="sort-container">
  <label>Sort By Name:</label><br>
  <input type="radio" id="asc" name="sortingOrder" value="1" [(ngModel)]="sortOrder" (ngModelChange)="sortUsers()">
  <label for="asc">Ascending</label><br>
  <input type="radio" id="desc" name="sortingOrder" value="2" [(ngModel)]="sortOrder" (ngModelChange)="sortUsers()">
  <label for="desc">Descending</label>
</div>
  <div class="card-container">
    <div *ngFor="let user of users" class="card" (click)="user.isSelected = !(user.isSelected)">
      <img class="user-img" [src]="user.Image"/>
      <div class="user-name">{{ user.name }}</div>
      <span class="checkmark" *ngIf="user.isSelected"></span>
    </div>
  </div>
  <div class="action-container">
    <button class="update">update</button>
    <button class="remove">remove</button>
  </div>
</div>



